/* 
Colors
1B2430 - Dark Navy/Purple
51557E - Muted Dark Purple
816797 - Pretty Purple
D6D5A8 - Sand? 
*/

body{
    background-color: #1B2430 !important;
    color: #D6D5A8 !important;
    overflow-x: hidden;
}

.row, .row2, #banner, header{
    background-color: #1B2430 !important;
}

a:link, a:visited, a:active{
    color:#D6D5A8;
    text-decoration: none;
}

header{
    margin-left:0;
    padding-left: 80%;
    background-color: #1B2430;
    color: #D6D5A8;
    height: 30vw;
}

.nav-item{
    list-style: none;
    padding: 5%;
    margin:auto;
}

#welcomemessage{
    font-size: 5em;
    color: #D6D5A8;;
    margin: auto;
    padding-left: 2%;
}

#tagline{
    color: #D6D5A8;
    font-size: 2em;
    padding-left: 2%;
}

#resume{
    outline: thick solid #D6D5A8;;
    color:#D6D5A8;
    padding: 1%;
    border-radius: 1%;
    margin-left: 2%;
    margin-right: 87%;
    margin-bottom: 2%;
    text-align: center;
    min-width: 200px;
}

/* Header's Welcome Message */
span{
    animation: blinker 1s linear infinite;
    color: #D6D5A8;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

/* About Me */

.aboutme{
    background-color: #51557E !important;
    padding: 3%;
}

#about{
    background-color: #51557E !important;
    margin: auto;
}

#headshot{
    max-width:70%;
    overflow: hidden;
    border-radius: 1%;
    padding-left: 10%;
    min-width: 400px;
    align-items: center;
}

.content{
    min-height: 175px;
}

#collapsee, .content{
    padding: 2%;
    border-radius: 1%;
    overflow-wrap: break-word;
}

h1{
    text-align: center;
}

h2 {
    margin-left: 1%;
	padding: 5px 0 0 10px;
	cursor: pointer;
    background-color: #1B2430;
    background-image: url(./Images/open.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
}

h2.open {
	cursor: pointer;
    background-image: url(./Images/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    background-color: #1B2430;
}

h2.close {
	cursor: pointer;
    background-image: url(./Images/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    background-color: #1B2430;
}

.skills{
    height: 200px;
}

.universitylogo{
    width: 150px;
    background-color: white;
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.educationtitle{
    text-align: center;
    text-decoration: solid;
}
.employers{
    width: 150px;
    float: left;
    vertical-align: top;
    background-color: white;
    margin: 15px 15px 15px 15px;
}

.universitylogo:hover, .employers:hover{
    background-color: #1B2430;
    opacity:50%;
}

.socials{
    height:50px;
    margin-top:2%;
    margin-bottom: 2%;
    filter:brightness(0)
}


li{
    list-style-position: inside;
}

/* Projects */
#skills{
    background-color: #1B2430;
    width:100%;
    text-align: center;
    padding: 1%;
}

/* .projects{
    width: 20vw;
    height: 15vw;
    background-color: #51557E;
} */

/* .projectthumb, .projectthumb:visited, .projectthumb:link, .projectthumb:hover{
    background-color: white;
    height:15%;
    background-position-x: right;
    color: #1B2430 !important;
    overflow: scroll;
    border-radius: 5%;
    padding: 1%;
    overflow: hidden;
    margin-top: 1%;
    margin-right: 1%;
} */

.projectimg{
    width: 20%;
    position: right;
}

.linkdiv{
    background-color: #1B2430;
    padding: 1%;
}


/* Contact */
#contact{
    background-color: #51557E;
    width: 100%;
    text-align: center;
}

.form{
    width:40%;
    background-color: #1B2430;
    border: none;
    padding:1%;
    margin: .5ch;
}

#submit{
    background-color: #1B2430;
    color: #D6D5A8;
    border: none;
    padding: 1%;
    margin-bottom: 2%;
}

footer{
    background-color: #1B2430;
    height:30px;
    margin:0 42.5% auto;
}

.footericon{
    height:50px;
}
