/* 
Colors
1B2430 - Dark Navy/Purple
51557E - Muted Dark Purple
816797 - Pretty Purple
D6D5A8 - Sand? 
*/

body{
    background-color: #1B2430;
    color: white;
}

a:link, a:visited, a:active{
    color:white;
    text-decoration: none;
}

.nav-container{
    display: inline-flex;
}

header{
    margin-left:0;
    display: block;
    padding-left: 80%;
}
.nav-container, header{
    background-color: #1B2430;
    color: #D6D5A8;
}

.nav-item{
    list-style: none;
    padding: 5%;
    margin:auto;
}

#welcomemessage{
    font-size: 5em;
    color: #816797;
    margin: auto;
    padding-left: 2%;
}

#banner{
    height: 200px;
}

/* Header's Welcome Message */
span{
    animation: blinker 1s linear infinite;
    color: #816797;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

/* About Me */

#about{
    background-color: #51557E;
    padding: 1%;
    width: 100%;
    display: flex;
    vertical-align: top;
}

#experience, #education{
    width:45%;
}

.content{
    height: 175px;
}

#collapse, .content{
    padding: 2%;
    border-radius: 1%;
    overflow-wrap: break-word;
}

h2 {
    margin-left: 1%;
	padding: 5px 0 0 10px;
	cursor: pointer;
    background-color: #1B2430;
}

h2.close {
	cursor: pointer;
}

.universitylogo, .employers{
    width: 150px;
    float: left;
    vertical-align: top;
    background-color: white;
    margin: 7px 7px 7px 7px;
}

.universitylogo:hover, .employers:hover{
    background-color: #1B2430;
    opacity:50%;
}

.socials{
    height:50px;
}

/* Projects */
#projects{
    background-color: #1B2430;
    width:100%;
    margin: auto;
    padding: 1%;
}
/* Contact */
#contact{
    background-color: #51557E;
    width: 100%;
}

footer{
    background-color: #1B2430;
    height:30px;
    margin:0 42.5% auto;
}

.footericon{
    height:50px;
}